<!-- league.html -->

<!-- template for popover to confirm weekly task, help from http://stackoverflow.com/questions/15881453/angularjs-accessing-dom-elements-inside-directive-template -->
<script type="text/ng-template" id="weeklyTaskList.html">
<div class="row" style="min-width: 200px;">
	<div class="col-md-12">
		<!-- task is defined in ng-reapeat -->
		<!-- <p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			<span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
		</p>-->
		<h5>When did you complete the task?</h5>
		<div class="dropdown">
		  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
		    <div class="input-group"><input type="text" class="form-control" data-ng-model="data.date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    </div>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		    <datetimepicker data-ng-model="data.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
		  </ul>
		</div>
		<button class="btn btn-success" ng-click="confirmTask()">click here</button>
	</div>
</div>
</script>



<h1>{{league.name}}</h1>
<div class="row">
 <div class="col-md-6 weekly-tasks-list">
 <h4>Weekly tasks</h4>
 <div ng-repeat="schema in league.exerciseSchema">
 	<div ng-repeat="task in schema.content">

	 	<div class="bs-callout bs-callout-info">
		 	<div class="confirm-task-btn pull-right"> <button class="btn btn-default" confirm-popover data-placement="right" data-title="Confirm"><i class="fa fa-check"></i></button></div>
		 		<div class="callout-content">
			 		<h4>{{task.name}}</h4>

			 		<hr>
			 		{{task.type}} - {{task.subtype}} - {{task.amount}}
		 		</div>
	 	</div>
	</div>
 </div>

 </div>
 <div id = "league-weekly-timeline" class="panel panel-default col-md-6 pull-right">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Weekly Timeline
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
			<li>
			    <div class="timeline-badge"><i class="fa fa-check"></i>
			    </div>
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			            <p>
			                <small class="text-muted"><i class="fa fa-time"></i> 11 hours ago via Twitter</small>
			            </p>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			        </div>
			    </div>
			</li>
			<li class="timeline-inverted">
			    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
			    </div>
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			        </div>
			    </div>
			</li>
			<li>
			    <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
			    </div>
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			        </div>
			    </div>
			</li>
			<li class="timeline-inverted">
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			        </div>
			    </div>
			</li>
			<li>
			    <div class="timeline-badge info"><i class="fa fa-save"></i>
			    </div>
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			            <hr>
			            <div class="btn-group">
			                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
			                    <i class="fa fa-cog"></i> 
			                    <span class="caret"></span>
			                </button>
			                <ul class="dropdown-menu" role="menu">
			                    <li><a href="#">Action</a>
			                    </li>
			                    <li><a href="#">Another action</a>
			                    </li>
			                    <li><a href="#">Something else here</a>
			                    </li>
			                    <li class="divider"></li>
			                    <li><a href="#">Separated link</a>
			                    </li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</li>
			<li>
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			        </div>
			    </div>
			</li>
			<li class="timeline-inverted">
			    <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
			    </div>
			    <div class="timeline-panel">
			        <div class="timeline-heading">
			            <h4 class="timeline-title">Timeline Event</h4>
			        </div>
			        <div class="timeline-body">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
			        </div>
			    </div>
			</li>

        </ul>
    </div>
 </div>
</div>