<!-- specific-league-column.html -->
<div id="selected-league-top">
	<h1>{{selectedLeague[0].name}}</h1>
	<h3>created by {{selectedLeague[0].creator[0].profile.name}}</h3>
    <div id="league-status" ng-show="selectedLeague[0].isPrivate">
    <div class="row">
        <i class="fa fa-lock"></i>
        <div id="public-description"><p>Private</p></div>
    </div>
    </div>
    
<div>

<table id="league_overview" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <td>Exercise</td>
            <td>Type</td>
            <td>Subtype</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody ng-repeat="schema in selectedLeague[0].exerciseSchema track by $index" id="{{schema.name+'-'+$index}}"> <!-- Can result in multiple <tbody> in the <table>, that's not a problem however.. -->
        <tr ng-repeat="task in schema.content">
            <td>{{ task.name }}</td>
            <td>{{ task.type }}</td>
            <td>{{ task.subtype }}</td>
            <td>{{ task.amount }}</td>
        </tr>
    </tbody>
</table>

<a ui-sref="league({specificLeague : selectedLeague[0].name, id : selectedLeague[0]._id})">go to league -></a>
