body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#settings-nav {
}
#settings-nav i {
	margin-right: 5px;
	min-width: 12px;
}

#settings-nav .dropdown-menu{
	min-width: 100%;
}

#main-content{
	/*width: 100%;
	float: right;*/

}
#user-league-list{
	min-height: 350px;
}

#schema-accordion .a{
	cursor: pointer;
}